.card {
    display: flex;
    flex-direction: row;
    width: 50rem;
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.photo{
    border-radius: 15px;
    width: 200px;
    border: 1px solid #16bdca;
    padding: 5px;
}
.title{
    flex-direction: column;
    padding: 5px;
    font-size: 40px;
    position: relative;
    /*left: 20px;*/
    /*top: -100px;*/
    color: #dfdfdf;
    word-spacing: 3px;
    font-family: Bevan;
    display: flex;
}
.text{
    font-size: 15px;
    color: #dfdfdf;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: inherit;
}
.details{
    display: flex;
    flex-direction: column;
    color: #dfdfdf;
    padding-left: 10px;
    font-family: inherit;
}
